@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Mona;
    src: url('./fonts/Mona-Sans.ttf');
  }
  

body {
    background-color: #fafafa;
    /* background-image: url('./assets/fondo.jpg');
    background-size: cover; */
    font-family: Mona;
}