@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Mona;
    src: url('./fonts/Mona-Sans.ttf');
  }
  

body {
    background-color: #fafafa;
    font-family: Mona;
}